* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #007bff;
  --secondary-color: #6c757d;
  --background-color: #f8f9fa;
  --text-color: #333;
  --header-height: 130px;
}

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--text-color);
}

.logo {
  display: flex;
  align-items: center;
}

.logo h1 {
  margin-left: 10px;
  font-size: 24px;
}

.toggle-icon {
  display: none;
}

.social-links {
  display: flex;
}

.social-links > div {
  display: flex;
}

.social-links > div > div {
  margin-right: 10px;
}

.social-links a {
  color: #fff;
  text-decoration: none;
}

.icon {
  color: #fff;
  font-size: 24px;
}

.fa-solid,
.fa-brands {
  font-size: 20px;
}

.css-aside {
  width: 250px;
  background-color: #333;
  color: #fff;
  padding: 10px;
  margin-top: 110px;
  box-sizing: border-box;
  overflow-y: auto;
  position: fixed;
  left: 0;
  top: 0;
  height: calc(100% - 95px);
}

.css-aside h3 {
  margin-bottom: 10px;
}

.css-aside div {
  margin-bottom: 5px;
}

.css-aside a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 8px 15px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.css-aside a:hover {
  background-color: #555;
}

.css-aside a.active {
  background-color: #007bff;
}

@media (max-width: 800px) {
  .css-aside {
    display: none;
  }
  .output {
    display: none;
  }
}

.output {
  margin-left: 270px;
  margin-top: 120px;
}

.mobile {
  display: none;
  background-color: #f2f2f2;
  padding: 10px;
  margin-top: 135px;
}

.mobile h2 {
  padding: 8px 16px;
  margin: 5px 0;
  color: #0056b3;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
}

.mobile h2:hover {
  text-decoration: underline;
  color: #c7544d;
}

@media screen and (max-width: 801px) {
  .mobile {
    display: block;
  }
}

.comments-container {
  margin: 140px 20px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.comments-container h1 {
  font-size: 24px;
  color: #2c3e50;

  margin-bottom: 10px;
}

.comments-container h2 {
  font-size: 20px;
  color: #2c3e50;

  margin-top: 20px;
}

.comments-container h3 {
  font-size: 18px;
  color: #2c3e50;

  margin-top: 16px;
}

.comments-container p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 12px;
}

.comments-container pre {
  background-color: #f0f0f0;
  color: #c7544d;
  padding: 12px;
  border-radius: 4px;
  overflow-x: auto;
}
code {
  color: #c7544d;
}

.comments-container code {
  font-family: "Montserrat", sans-serif;
}

.comments-container img {
  max-width: 100%;
  margin-bottom: 12px;
}

.comments-container .button-container {
  margin-top: 20px;
  text-align: center;
}

.comments-container button {
  padding: 10px 20px;
  margin: 0 10px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.comments-container button:hover {
  background-color: #0056b3;
}

.comments-container h1,
.comments-container h2,
.comments-container h3 {
  font-weight: 600;
}

.comments-container p {
  margin: 20px 0;
  font-size: 1.1em;
  line-height: 1.8;
}

.comments-container ul {
  list-style: disc;
  padding-left: 20px;
  margin: 0;
}

.comments-container li {
  margin-bottom: 10px;
  line-height: 1.5;
}

.comments-container code {
  background-color: #f0f0f0;
  padding: 2px 5px;
  border-radius: 3px;
  font-family: "Montserrat", sans-serif;
}
td,
th {
  margin-top: 5px;
  padding: 10px;
}

iframe {
  max-width: 100%;
}
video {
  max-width: 100%;
}

.landing-page header {
  margin-bottom: 20px;
}

.landing-page h2 {
  font-size: 2.5em;
  margin-top: 15px;
  margin-bottom: 10px;
}

.landing-page .tagline {
  font-size: 1.2em;
  font-style: italic;
  margin-bottom: 30px;
}

.landing-page p {
  font-size: 1.1em;
  line-height: 1.6;
  margin-bottom: 20px;
}

.landing-page button {
  background: linear-gradient(to left, #007bff, #5f9ee1);
  border-radius: 10px;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 1.1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.landing-page button:hover {
  background: linear-gradient(to right, #007bff, #5f9ee1);
}

@media (max-width: 768px) {
  .landing-page {
    margin-top: 108px;
  }
  .landing-page > div {
    max-width: 90%;
    font-size: 18px;
  }

  .landing-page h2 {
    font-size: 1.5em;
  }

  .landing-page .tagline {
    font-size: 1em;
  }

  .landing-page p {
    font-size: 1em;
  }

  .landing-page button {
    padding: 8px 16px;
    font-size: 1em;
  }
}

.skillsLinks {
  font-family: "Montserrat", sans-serif;
  line-height: 1.6;
  color: #333;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background: #f9f9f9;
  border-radius: 10px;
}

.SkillsHead {
  font-size: 2em;
  color: #2c3e50;
  text-align: center;
  margin-top: 140px;

  margin-bottom: 20px;
  padding-bottom: 10px;
}

.skillsLinks h2 {
  font-size: 1.5em;
  margin-bottom: 0.3em;
  color: #2c3e50;
  padding-bottom: 10px;
}

.skillsLinks ul {
  list-style-type: disc;
  padding-left: 20px;
  margin-bottom: 20px;
}

.skillsLinks ul li {
  margin-bottom: 10px;
  padding-left: 5px;
  position: relative;
}

.skillsLinks ul li:last-child {
  margin-bottom: 0;
}

.skillsLinks h2::after {
  content: "";
  display: block;
  width: 50px;
  height: 3px;
  margin-top: 10px;
}

@media (max-width: 600px) {
  .skillsLinks {
    padding: 10px;
  }

  .skillsLinks h2 {
    font-size: 1.2em;
  }
  .SkillsHead {
    text-align: left;
  }

  .skillsLinks ul {
    padding-left: 15px;
  }
}

.skillsLinks ul li {
  margin-bottom: 10px;
  padding: 10px 15px;
  position: relative;
  background: #ecf0f1;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.3s;
}

.skillsLinks ul li a {
  text-decoration: none;
  color: #2c3e50;
  display: block;
}

.skillsLinks ul li:hover {
  background-color: #d1e7dd;
  transform: translateX(5px);
  cursor: pointer;
}

.skillsLinks ul li a:hover {
  color: #2980b9;
}

.internet {
  max-width: 800px;
  margin-top: 115px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  color: #333;
  background-color: #f5f5f5;
  border-radius: 10px;
}

.internet h1,
.internet h2 {
  color: #2c3e50;
  font-weight: 600;
  margin-bottom: 10px;
}

.internet h1 {
  font-size: 2.5em;
  border-bottom: 2px solid #3498db;
  padding-bottom: 10px;
}

.internet h2 {
  font-size: 2em;
  margin-top: 40px;
  border-bottom: 1px solid #3498db;
  padding-bottom: 5px;
}

.internet p {
  margin: 20px 0;
  font-size: 1.1em;
  line-height: 1.8;
}

.internet code {
  background-color: #ecf0f1;
  padding: 2px 4px;
  border-radius: 4px;
}

strong {
  font-weight: 600;
  color: #2c3e50;
}

.internet a {
  color: #3498db;
  text-decoration: none;
}

.internet a:hover {
  text-decoration: underline;
}

.internet p strong::after {
  content: ": ";
  font-weight: normal;
}

@media (max-width: 600px) {
  .internet {
    padding: 10px;
    margin-top: 130px;
  }

  .internet h1 {
    font-size: 2em;
  }

  .internet h2 {
    font-size: 1.5em;
  }
}

.header #merge-society {
  color: white;
  font-family: "Montserrat", sans-serif;
}

.codePurple {
  color: purple;
}

.main-header {
  background-color: #333;
  color: #e0e0e0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.logo {
  display: flex;
  align-items: center;
}

.logo .icon {
  margin-right: 0.3rem;
}

.social-links {
  display: flex;
  gap: 1rem;
}

.social-links a {
  color: #d1e7dd;
  font-size: 1.2rem;
  transition: color 0.3s ease;
}

.social-links a:hover {
  color: var(--primary-color);
}

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  padding: 8px 12px;
  margin: 0 5px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  font-size: 14px;
}

.nav-links a:hover {
  background-color: #555;
}

.nav-links a.active {
  background-color: #007bff;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .nav-links a {
    padding: 5px;
    font-size: 12px;
  }
}

.landing-page {
  margin-top: 90px;
  /* flex-grow: 1; */
  display: flex;
  flex-direction: column;
}

.main-content {
  text-align: center;
  padding: 4rem 2rem;
  flex-grow: 1;
}

.title {
  font-size: 3rem;
  margin-bottom: 1rem;
  animation: fadeInUp 1s ease-out;
}

.subtitle {
  font-size: 1.25rem;
  margin-bottom: 2rem;
  color: var(--secondary-color);
  animation: fadeInUp 1s ease-out 0.3s backwards;
}

.cta-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  animation: fadeInUp 1s ease-out 0.6s backwards;
}

.cta-button,
.secondary-button {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  border-radius: 5px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.cta-button {
  background-color: var(--primary-color);
  color: #fff;
}

.cta-button:hover {
  background-color: #0056b3;
}

.secondary-button {
  background-color: #fff;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.secondary-button:hover {
  background-color: var(--primary-color);
  color: #fff;
}

.features {
  display: flex;
  justify-content: space-around;
  padding: 4rem 2rem;
  background-color: #fff;
}

.feature {
  text-align: center;
  max-width: 300px;
}

.feature i {
  font-size: 3rem;
  color: var(--primary-color);
  margin-bottom: 1rem;
}

.feature h3 {
  margin-bottom: 0.5rem;
}

.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1rem;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  .header-top {
    flex-direction: column;
    align-items: center;
  }

  .social-links {
    margin-top: 1rem;
  }

  .features {
    flex-direction: column;
    align-items: center;
  }

  .feature {
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 768px) {
  .social-links {
    display: none;
  }

  .toggle-icon {
    display: block;
  }
}
@media screen and (max-width: 310px) {
  .title {
    display: none;
  }
}
